apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels: { app: demo-app }
spec:
  replicas: 3
  selector:
    matchLabels: { app: demo-app }
  template:
    metadata:
      labels: { app: demo-app }
    spec:
      containers:
      - name: demo
        image: hashicorp/http-echo:0.2.3
        args: ["-text=hello from demo"]
        ports: [{containerPort: 5678}]
        
        readinessProbe:
          httpGet:
            path: /
            port: 5678
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 5678
          initialDelaySeconds: 15
          periodSeconds: 10 
---
apiVersion: v1
kind: Service
metadata:
  name: demo-app
spec:
  selector: { app: demo-app }
  ports:
  - port: 80
    targetPort: 5678
    protocol: TCP
  type: ClusterIP
